#Package         Version
#--------------- -------
black          
isort          
joblib         
numpy          
plotly         
scikit-learn   
scipy          
wheel           
pandas         
yfinance       
keras          
tensorflow      
